//estilos para cada componente
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: cadetblue;
  font-family: 'Architects Daughter', cursive;
}

.header {
  width: 100%;
  //height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__title {
    font-size: 1.2rem;
    margin: 15px;
    text-transform: uppercase;
  }
}

.cardList {
  padding: 15px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.card {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;

  &__a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

  &__title {
    text-transform: uppercase;
  }

  &__img {
    width: 100%;
  }
}
